<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB KEY - Cadastro de Salas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="fundo-branco">
        <nav class="cabecalho-principal">
            <img src="../css/static/logo-labkey.png" alt="Logo LabKey" id="imagem-labkey-cabecalho">
            <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#EA3323"><path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h299v60H180v600h299v60H180Zm486-185-43-43 102-102H360v-60h363L621-612l43-43 176 176-174 174Z"/></svg>
        </nav>

        <div class="divisor-cinza"></div>

        <main>
            <menu class="menu-lateral-verde"></menu>
            <div class="conteudo">
                <h1>Cadastro de Salas</h1>
            </div>
        </main>
            
        </div>

        <div class="divisor-cinza"></div>

    </div>
</body>
</html>