<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB KEY - Cadastro</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="fundo-cinza">
        <img src="../css/static/logo-labkey.png" alt="Logo LabKey" id="imagem-labkey-cadastro-login">

        <form class="formulario-cadastro-login">
            <p>Bem-vindo ao LabKey</p>
    
            <div class="divisor-cinza"></div>

            <div class="inputs-cadastro-login">
                <input type="text" name="e-mail" id="email" placeholder="E-mail">
                <input type="password" name="senha" id="senha" placeholder="Senha">
                <input type="text" name="usuario-institucional" id="usuario-institucional" placeholder="Usuário Institucional">
            </div>

            <div class="divisor-cinza"></div>
    
            <button type="submit" id="botao-enviar-formulario">Cadastrar</button>
        </form>

    </div>
</body>
</html>