<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB KEY - Página Inicial</title>
    <link rel="stylesheet" href="/app/static/css/style.css">
</head>
<body>
    <div class="index-container">
        <nav class="index-nav">

            <div class="nav-itens">
                <button>Entrar</button>
                <button>Cadastro</button>
            </div>
        </nav>
        
        <div class="botoes-pagina-inicial">
            <button>Seguranca</button>
            <button>Eficiência</button>
            <button>Praticidade</button>
            <button>Organização</button>
        </div>
    </div>
</body>
</html>