<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB KEY - Página Inicial</title>
    <link rel="stylesheet" href="/app/static/css/style.css">
</head>
<body>
    <!-- container principal do site -->
    <div class="index-container">
        <!--Barra de navegação-->
        <nav class="index-nav">
            <div class="nav-itens">
                <button>Entrar</button>
                <button>Cadastro</button>
            </div>
        </nav>
        <!--Conteudo principal-->
        <main class="index-main">
            <section>
                <h1></h1>
            </section>
        </main>
        <!--Rodapé-->
        <footer class="index-footer">

        </footer>
    </div>
</body>
</html>